<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
		<add key="DBConnectionFFoz" value="Data Source=JOAO-EE7226099A\SQLEXPRESS;Initial Catalog=FFoz_SeaTrial;User ID=app_FFoz;Password=app_FFoz" />
		<add key="CommandTimeOut" value="1000" /> <!-- Timeout do command de SQL (usado no DBAccess.cs) em segundos -->
	</appSettings>
</configuration>

